# node_modules y pnpm
node_modules/
.pnpm/
.pnpm-debug.log

# output de Astro
dist/

# entornos
.env
.env.local
.env.*.local

# sistema operativo
.DS_Store
Thumbs.db

# editores
.vscode/
.idea/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# lockfile de yarn o npm (si solo usas pnpm)
package-lock.json
yarn.lock
